.navbar-brand {
  font-size: 25px !important;
  font-weight: bold;
}

.nav-link {
  font-size: 17px;
  font-weight: 500;
}

.nav-link-active {
  color: rgb(13 110 253) !important;
}

.container-light a {
  color: black;
}

.container-dark a {
  color: white;
}

#moonIcons {
  font-size: 30px;
  margin: 0 !important;
  margin-right: 5px !important;
  opacity: 1;
}

.signup-container {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  width: 30%;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.signupContainer-light,
.signupContainer-light.focused {
  color: black;
  background-color: white;
}

.signupContainer-dark,
.signupContainer-dark.focused {
  color: white;
  background-color: #202124;
}

.signup-form {
  background: linear-gradient(to right top, #ffffff, #d4caff, #a796ff, #7461ff, #1126ff);
  padding: 15px;
  border-radius: 8px;
}

.signup-form h2 {
  margin: 5px;
  text-align: center !important;
}

label {
  display: block;
  margin: 5px;
  font-weight: bold;
  font-size: 19px;
}

#description {
  min-height: 80px;
}

input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none;
}

input::placeholder {
  color: gray !important;
}

div:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

.card-body {
  border-radius: 5.5px;
}

.card-body:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.card-title {
  margin-right: 21px !important;
}

.fa-thumbtack {
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
}

.fa-solid {
  margin: 2px !important;
  padding: 7px;
  opacity: 0.87;
}

.fa-solid:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(95, 99, 104, 0.157);
  border-radius: 20%;
}

.row {
  margin: 0 5px 0 5px !important;
}

span {
  display: block;
  text-align: center;
}

#terms-text {
  margin: 15px 0;
  font-size: 16px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 15px !important;
    padding: 0;
  }

  #addNote {
    height: 100%;
    width: 97% !important;
  }

  #Notes {
    height: 100%;
    width: 97% !important;
  }

  .col-md-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #About {
    height: 100%;
    width: 94% !important;
    padding: 10px;
    margin: 10px !important;
  }

  #SignIn {
    width: 94% !important;
    margin: 10px !important;
  }

  #SignUp {
    width: 94% !important;
    margin: 10px !important;
  }

  .modal-content {
    margin-top: 70px;
  }
}